/* styles.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url('https://th.bing.com/th/id/R.a3b5319f87d2230110e1c1579e48cd79?rik=3f0O82F0C6GJdg&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f62%2f16%2fmTIocM.jpg&ehk=LCMheePdxEbn1mduqEA86c4rSMMJxM%2fhtAdgcuiC8yA%3d&risl=1&pid=ImgRaw&r=0') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  h1 {
      font-size: 1.5em;
  }

  p {
      font-size: 1em;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.2em;
  }

  p {
      font-size: 0.9em;
  }
}
