body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}
header h2{
    
    color: rgb(255, 1, 1);
}
main {
    padding: 2em;
}

h2 {
    color: #4CAF50;
}

.gallery {
    display: flex;
    gap: 10px;

}

.gallery img {
    width: 30%;
    border-radius: 8px;
}

.product {
    background-color: white;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product h3 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

iframe {
    display: block;
    margin: 0 auto;
}

@keyframes rotate {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

.product:hover {
    animation: rotate 2s infinite;
}

