/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #388e3c;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #2e7d32;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 2em;
    text-align: center;
}

#home-3d {
    width: 100%;
    height: 400px;
    background: url(./imgvid/360_F_357547735_aTZvm1ec8Uzgsd1aTukmFiOw4iXX2aKS.jpg) ;
    
}

.product {
    display: inline-block;
    width: 200px;
    margin: 1em;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.videos {
    display: flex;
    justify-content: center;
}

.videos iframe {
    margin: 10px;
}

footer {
    background-color: #388e3c;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
